@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #322C27;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #322C27;
}

h4 {
    font-size: 20px;
    color: #322C27;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

P {
    font-size: 16px;
    color: #322C27;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #C8B39F;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 4px 12px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #322C27;
}

#navbar li a:hover{
    color: #A61723;
}

#navbar li a.active::after{
    content: "";
    width: 30px;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#banner{
    background-image: url("/static/images/banner.JPG");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#banner h2{
    padding-bottom: 30 px;
    color:white ;
}

#feature{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 190px;
    justify-content: space-between;
}

#feature div h6{
    text-align: center;
}

#feature .order{
    background-color: #A61723;
    border-radius: 20px;
    width: 285px;
    align-items: center;
    padding: 14px 19px;
    margin: 10px;

}

#feature .pay-online{
    background-color: #647E4E;
    border-radius: 20px;
    width: 285px;
    align-items: center;
    padding: 14px 19px;
    margin: 10px;
}

#feature .fast-delivery{
    background-color: #523C38;
    border-radius: 20px;
    width: 285px;
    align-items: center;
    padding: 14px 19px;
    margin: 10px;
}

#feature .enjoy{
    background-color: #486A9C;
    border-radius: 20px;
    width: 285px;
    align-items: center;
    padding: 14px 19px;
    margin: 10px;
}

#feature .fa-solid,.fa-sharp-duotone{
    color: white;
}

#feature div h6{
    color: white;
}

#feature div h4{
    color: white;
}

#product1{
    text-align: center;
}

#product1 .pro-conteiner{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #C8B39F;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #725B4E;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #322C27;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: #725B4E;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #523C38;
}

#product1 .pro .fa-cart-shopping{
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #A61723;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer{
    background-color: #725B4E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    width: 117px;
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: white;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: white;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 5px;
}

footer .follow i{
    color: white;
    padding: 4px;
    cursor: pointer;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}

.wrapper{
    width: 420px;
    color: #322C27;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(50, 44, 39, 1);
    border-radius: 20px;
    font-size: 16px;
    color: #322C27;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #322C27;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #A61723;
    margin-right: 3px;
}

.remember-forgot a{
    color: #322C27;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #725B4E;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color: #322C27;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}